[Desktop Entry]
Name=PyDAW Modulex
Comment=PyDAW is a digital audio workstation with robust MIDI capabilities and a full suite of instrument and effects plugins
Exec=lms-jack-dssi-host "lms_modulex.so"
Icon=modulex.png
Terminal=false
Type=Application
Categories=Audio;AudioEditing;
