
[Desktop Entry]
Name=PyDAW3
Comment=PyDAW3 is a digital audio workstation with a full suite of instrument and effects plugins
Exec=pasuspender pydaw3
Icon=pydaw3.png
Terminal=false
Type=Application
Categories=Audio;AudioEditing;
Name[en_US]=pydaw3
