*.qm
*jack-dssi-host
plugins/protractor/src/.svn/*
plugins/lms_daw/Makefile
plugins/lms_daw/build/
plugins/lms_daw/*.h
plugins/*/*.so
plugins/*/src/moc_synth_qt_gui.cpp
bin
*.dep.inc
plugins/lms_suite
plugins/maintainer.txt
*nbproject*
*.o
*.la
*.lo
*~
*.log
*.libs*
*.deps*
*GNU-amd64-Linux*
*aclocal.m4*
*autom4te.cache
*config.guess
*config.h.in
*config.status
*config.sub
*depcomp
*libtool
*ltmain.sh
*missing
*.orig
*install-sh
*.tgz
*.deb
*.moc.cpp
*.patch
*deps_installed.txt
*_qt
*/build/*
plugins/lms-jack-dssi-host/config.h
plugins/lms-jack-dssi-host/configure
plugins/lms-jack-dssi-host/stamp-h1
/plugins/lms_splashscreen/build/
/plugins/lms_splashscreen/dist/

