tools/debugger/gmon.out
tools/debugger/profiling.txt
plugins/pydaw/pydaw2
plugins/pydaw-build/debian/DEBIAN/control
plugins/pydaw-build/debian/DEBIAN/md5sums
tools/wavetable_maker/wavs/*.wav
tools/wavetable_maker/wt.h
tools/wavetable_maker/test.txt
plugins/way_v/WAY_V_qt
tools/wavetable_maker/wtgen
core
tools/debugger/debugger
tools/debugger/*.wav
plugins/build-suffix.txt
plugins/pydaw_jack_oscrolloscope/pydaw_jack_oscrolloscope
plugins/lms_modulex/LMS_MODULEX_qt
plugins/euphoria/LMS_EUPHORIA_qt
plugins/lms_delay/LMS_DELAY_qt
plugins/ray_v/LMS_RAYV_qt
*.pyc
*.qm
lms-jack-dssi-host
plugins/*/*.so
plugins/*/src/moc_synth_qt_gui.cpp
bin
plugins/pydaw-build/debian/usr
plugins/maintainer.txt
*nbproject*
*.o
*.la
*.lo
*~
tools/debugger/test.wav.finished
*.log
*.libs*
*.deps*
*GNU-amd64-Linux*
*aclocal.m4*
*autom4te.cache
*config.guess
*config.h.in
*config.status
*config.sub
*depcomp
*libtool
*ltmain.sh
*missing
*.orig
*install-sh
*.tgz
*.deb
*.moc.cpp
*.patch
*deps_installed.txt
*/build/*
