core
tools/debugger/debugger
plugins/lms_jack_oscrolloscope/jack_oscrolloscope
plugins/lms_modulex/LMS_MODULEX_qt
plugins/euphoria/LMS_EUPHORIA_qt
plugins/lms_delay/LMS_DELAY_qt
plugins/ray_v/LMS_RAYV_qt
*.pyc
*.qm
*jack-dssi-host
plugins/protractor/src/.svn/*
plugins/*/*.so
plugins/*/src/moc_synth_qt_gui.cpp
bin
*.dep.inc
plugins/pydaw-build
plugins/maintainer.txt
*nbproject*
*.o
*.la
*.lo
*~
*.log
*.libs*
*.deps*
*GNU-amd64-Linux*
*aclocal.m4*
*autom4te.cache
*config.guess
*config.h.in
*config.status
*config.sub
*depcomp
*libtool
*ltmain.sh
*missing
*.orig
*install-sh
*.tgz
*.deb
*.moc.cpp
*.patch
*deps_installed.txt

*/build/*
/plugins/lms_splashscreen/build/
/plugins/lms_splashscreen/dist/

plugins/lms_session_manager/lms_session_mgr
plugins/lms_session_manager/moc_main_form.cpp

plugins/lms_splashscreen/lms_splashscreen
plugins/protractor/Makefile
plugins/protractor/configure
plugins/protractor/qtractor.mak
plugins/protractor/qtractor.spec
plugins/protractor/src/.moc/
plugins/protractor/src/.ui/
plugins/protractor/src/Makefile
plugins/protractor/src/config.h
plugins/protractor/src/qrc_qtractor.cpp
plugins/protractor/src/qtractor
plugins/protractor/src/qtractor.desktop
plugins/protractor/src/qtractor.mak
plugins/protractor/src/src.pri
