[Desktop Entry]
Version=1.0
Name=Mixxx
GenericName=Digital DJ interface
Comment=A digital DJ interface
Exec=mixxx-launcher.py
Terminal=false
Icon=mixxx-icon
Type=Application
StartupNotify=true
Categories=Qt;AudioVideo;Audio;
