
[Desktop Entry]
Name=PyDAW4
Version=4.0
GenericName=A DAW and plugin suite
Comment=PyDAW is a digital audio workstation and plugin suite
Exec=pydaw4
Icon=pydaw4.png
Terminal=false
Type=Application
Categories=Qt;AudioVideo;Audio;AudioEditing;
Name[en_US]=pydaw4
